DATABASE_TYPE=mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=observabilidad
MYSQL_USER=observabilidad
MYSQL_PASSWORD=observabilidad123
MYSQL_ROOT_PASSWORD=root123
URL_MONITOREADA=http://127.0.0.1:8080/
SSH_HOST=127.0.0.1
SSH_PORT=2222
SSH_USER=rocketbot
SSH_PASSWORD=rocketbot123
SSH_COMMAND=echo "Remediacion SSH ejecutada correctamente"
